.column1
{
    display: flex;
}
.divide-column1-first
{
    display: flex;
}
.divide-column1-second
{
    display: flex; 
}
.tag-total
{
    margin-left: 50%;
    position:absolute;
    transform: translateX(-50%);
    position: relative;
    margin-top: 50px;
}
.flex
{
    display: flex;
}
.column-3-1
{
    display: flex;
}
.pay-info
{
    display: flex;
}
.duration
{
    display: flex;
}
.images
{
    margin-top: 45px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.column2
{
    margin-left:  100px;
}
.center
{
    text-align: center;
}
.title
{
    
    margin-top: 30px;
    font-size: 35px;
    font-family: 'Fjalla One', sans-serif;
    color: blueviolet;
}
.note
{
    font-size: 20px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.title-colum
{
    font-size: 25px;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 20px;
}
.name-of-request
{
    font-size: 14px;
    font-family: 'Fjalla One', sans-serif;
}
.namebtn
{
    width: 250px;
    height: 30px;
    border-radius: .25rem;
    background-color: rgb(241, 241, 241) solid;
    border: 1px solid #ced4da;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .375rem .75rem;
}
.column-1-2
{
    margin-left: 40px;
}