.img1
{
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text1
{
    text-align: center;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgba(22, 24, 26, 0.336)
}
.text2
{
   font-size: 25px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   margin-left: 280px;
}
.checkoutform
{
    text-align: center;
    font-size:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}